:root {
    /* Colors */
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: #2e2f42;
    --grey: #2e2f42;
    --white: #ffffff;
    --dairy: #fcfcfc;
    /* Fonts */
    --primary-text: Roboto, sans-serif;
    --secondary-text: Raleway, sans-serif;

}

body {
    font-family: var(--primary-text);
    font-size: 16px;
    /* line-height: 1.5; */
    background-color: var(--white);
    color: var(--slate);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: currentColor;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

/* reset end */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.logo {
    font-family: var(--secondary-text);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo-dark {
    color: var(--navy-blue)
}

.logo-light {
    color: var(--cloud)
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-site {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-modal);

}

.nav-site:active,
.nav-site:hover {
    color: var(--ocean);
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--ocean);
}

.address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address:hover,
.address:focus {
    color: var(--ocean);
}

.address-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.hero {
    background-color: var(--navy-blue);
}

.hero-head {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
    cursor: pointer;
}

.benefits-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.products-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.our-team {
    background-color: var(--cloud);
}

.our-team-item {
    background-color: var(--white);
}

.our-team-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-modal);
}

.our-team-mem {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.our-team-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate)
}

.portf-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
}

.portf-btn:hover,
.portf-btn:focus {
    background-color: var(--ocean);
    color: var(--white);
    cursor: pointer;
}

.portf-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portf-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate)
}

.footer {
    background-color: var(--navy-blue);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}